<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
     http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util-3.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<bean id="getServerHeartBeatScheduler"
		class="hbs.client.GetServerHeartBeatScheduler">
		<constructor-arg
			value="#{applicationProps['heartbeat.to.be.observed.server.url']}"></constructor-arg>
	</bean>

	<bean id="httpInvokerProxy"
		class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
		<property name="serviceUrl"
			value="#{applicationProps['heartbeat.to.be.observed.server.url']}" />
		<property name="serviceInterface"
			value="hbs.common.api.HeartBeatInfoService" />
	</bean>

	<!-- Any change to this bean id please change the ClientAppMain.java code 
		changes also -->
	<util:properties id="applicationProps"
		location="application.properties"></util:properties>

	<task:scheduled-tasks>
		<task:scheduled ref="getServerHeartBeatScheduler"
			method="executeRestfulCallToServer"
			cron="#{applicationProps['cron.expression']}"></task:scheduled>
	</task:scheduled-tasks>

	<!-- EMAIL CONFIGURATION -->
	<!-- https://www.javatpoint.com/spring-java-mail-tutorial -->
	<bean id="mailSender"
		class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host"
			value="#{applicationProps['mail.smtp.server']}" />
		<property name="username"
			value="#{applicationProps['mail.username']}" />
		<property name="password"
			value="#{applicationProps['mail.password']}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.socketFactory.port">465</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.port">465</prop>
			</props>
		</property>
	</bean>


</beans>